body {
  background-color: #d6efc7
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%
}
h1{color: #19456b;font-family: Arial, Helvetica, sans-serif;letter-spacing: 1px}
h3{color:  #19456b }
